<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="x-mailer-preheader" content="Activation completed.">
    </head>
    <body style="margin: 0;">
        <div style="width:666px; max-width: 100%; padding: 20px; margin: 0 auto">
            <div>
                <div style="color: #102050; font-family: 'Courier New',serif; font-size: 26px; font-style: normal; font-weight: 500;line-height: normal; padding-bottom: 16px; margin-top: 48px">
                    Activation completed
                </div>
                <div>
                    <div style="color: #102050; font-family: 'Courier New',serif; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal">
                        Your account was activated successfully!
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>